.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.biopic {
    margin: 0px 20px;
}

.mypic {
    max-width: 80vw;
    max-height: 60vh;
    border: 10px solid black;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 7px;
}

p {
    font-size: 20px;
}

.list {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 17px;
}

a:link {
    text-decoration: none;
}

.logos{
    margin: 20px;
}

.emblem{
    margin: 5px;
    max-width: 80px;
}

.github{
    font-size: 25px;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.port-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
}